@import "variables";
.index_feature {
    .feature {
        min-height: 340px;
    }

    .feature_icon-wrap {
        display: flex;
        justify-content: center;

        .feature__icon {
            width: 100px;
            height: 100px;
        }
    }

    .fa-money-bill-alt {
        color: #5f895a;
    }

    .fa-building {
        color: #B939E5;
    }
    .fa-user-check {
        color: #4C86E7;       
    }
}
.gmap {
    height: 550px;
}

.entry__img {
    width: auto;
    height: 250px;
    object-fit: cover;
}
.more_items-link {
    width: 270px;
    height: 180px;
    display: block;

    .entry__img {
        height: 180px;
        width: 270px;
    }
}

.page-title {
    padding: 140px 0 70px;
}

.entry__title {
    font-size: 1.3rem;
    line-height: 1.2;
}

.hero {
    padding-top: 135px;
    padding-bottom: 0;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
div.timeline-data {
    display: flex;
    flex: auto;
    overflow-y: auto;
    padding: 0rem 1rem 0rem 1rem;
    flex-direction: column;
}

.timeline-header {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: bold;
}

#timeline {
    position: relative;
    display: table; //*For Firefox
    height: 100%;
    margin: {
        left: auto;
        right: auto;
    }

    div {
        &:after {
            content: '';
            width: 2px;
            position: absolute;
            top: .5rem;
            bottom: 0rem;
            left: 60px;
            z-index: 1;
            background: #C5C5C5;
        }
    }
    h3 {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        color: #888;
        margin: 0;
        font: {
            size: 1em;
            weight: 400;
        }
        @media (min-width: 62em) {
            font-size: 1.1em;
        }

        .round-step {
            background: linear-gradient(to right, #F8875F 0%, #FA6262 100%);
            color: #fff;
            line-height: 3.5rem;
            width: 3.5rem;
            height: 3.5rem;
            display: block;
            //border-radius: 50%;
            @include border-radius(50%);
            font-weight: bold;
            text-align: center;
            position: relative;
            top: 1rem;
        }
    }
    section.year {
        position: relative;
        &:first-child section{
            margin-top: -1.3em;
            padding-bottom: 0px;
        }

        &--sub-title {
            font-weight: bold;
        }

        section {
            position: relative;
            padding-bottom: 1.25em;
            margin-bottom: 2.2em;
            h4 {
                position: absolute;
                bottom: 0;
                font: {
                    size: .9em;
                    weight: 400;
                }
                line-height: 1.2em;
                margin: 0;
                padding: 0 0 0 89px;
                color: #C5C5C5;
                @media (min-width: 62em) {
                    font-size: 1em;
                }
            }
            ul {
                list-style-type: none;
                padding: 0 0 0 75px;
                margin: -1.35rem 0 1em;
                max-width: 32rem;
                font-size: 1em;
                @media (min-width: 62em) {
                    font-size: 1.1em;
                    padding: 0 0 0 81px;
                }
                &:last-child {
                    margin: {
                        bottom: 0;
                    }
                }
                &:first-of-type:after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: #C5C5C5;
                    border: 2px solid #FFFFFF;
                    @include border-radius(50%);
                    position: absolute;
                    left: 54px;
                    top: 3px;
                    z-index: 2;
                }
                li {
                    margin-left: .5rem;
                    &:before {
                        content: '·';
                        margin-left: -.5rem;
                        padding-right: .3rem;
                    }
                    &:not(:first-child) {
                        margin-top: .5rem;
                    }
                    span.price {
                        color: mediumturquoise;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

#price {
    display: inline;
}

svg {
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.form_ransom {

    .optin__form {
        flex-direction: column;
    }
}
.form_sale {
    .optin__form {
        flex-direction: column;
    }
    .optin {
        padding: 30px 40px;
    }
}

.btn {
    &--green {
        background: $green;
    }
    &--indigo {
        background: $indigo;
    }
}
.btn_groups {
    margin: 25px auto;

    .btn--button {
        margin-right: 25px;
    }
}

.testimonials-wrap {
    display: none;

    .owl-prev, .owl-next {
        color: #000000 !important;
    }
}

.triangle-img--align-right {
    top: -852px;
    right: -1005px;
    -webkit-transform: rotate(-16deg);
    transform: rotate(24deg);
}